.container {
    height: calc(100vh - 100px);
    display: flex;
}

.left {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right {
    flex: 1;
    padding: 20px;
}

.imgContainer {
    width: 80%;
    height: 80%;
    position: relative;
}

.price {
    color: #d1411e;
    font-size: 24px;
    font-weight: 400;
    border-bottom: 1 px solid #d1411e;
}

.sizes {
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.size {
    width: 30px;
    height: 30px;
    position: relative
}